<template>
  <div id="app">
    <div class="post" v-for="post in allPosts" :key="post.id">
      <h2>
        {{ post.title }}
      </h2>
      <p>
        {{ post.body }}
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "app",
  // computed: {
  //   allPosts() {
  //     return rhis.$store.getters.allPosts;
  //   },
  // },

  computed: mapGetters(["allPosts"]),
  methods: mapActions(["fetchPosts"]),
  async mounted() {
    // this.$store.dispatch("fetchPosts");
    console.log(this.fetchPosts());
    this.fetchPosts();
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}
</style>
